.card{
  transition: 0.3s;
  width:fit-content;
  border-radius: 5px;
  float:left;
  padding:20px 20px 20px 20px;
  border: 2px solid #000000;
  margin: 15px 20px 10px 5px;
  background-color: rgb(211, 211, 211);
}

.statusDiv{
  background-color: rgb(102, 102, 102);
  width: fit-content;
  color: white;
}


